PATH_add .venv/bin

# Load environment variables from dev env file and export all of them
if [ -f .env ]; then
    export $(grep -v '^#' .env | xargs)
fi


if [ -f .venv/bin/activate ]; then
    source .venv/bin/activate
fi
